.itemContainer{
    width: 500px;
    height: 50px;
    line-height: 50px;
    display: flex;
    align-items: center;
}

.itemIcon{
    position: relative;
    width: 20px;
    height: 20px;
    border: 4px solid gray;
}

.itemIcon.active::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) rotate(
45deg
);
    border-width: 0 4px 4px 0;
    border-style: solid;
    width: 10px;
    border-color: #000;
    height: 20px;
}

.itemContent{
    margin-left: 30px;
    color: gray;
}